.mainclass{
    padding: 2.5%;
    margin-left:  2.5%;
    margin-right: 4.5%;
    margin-top: 0%;
}
.header{
    text-align: justify;
    padding: 2.5%;
    font-size: 120%;
}
.section{
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 110%;
    margin-left: 1%;
}

.footerclass{
    margin: 1rem;
    text-align: justify;
    display: flex;
    margin-top: 5%;
    font-size: 120%;
}
.footerclass__1{
    
    display: inline-block;
    margin-left: 1%;
}
